language: node_js
node_js:
- 10
script:
- chmod 600 ./deploy_id_rsa.pem
- ssh-keyscan -H 89.208.199.114 >> ~/.ssh/known_hosts
- scp -i ./deploy_id_rsa.pem ./index.html ubuntu@89.208.199.114:/home/ubuntu/www
branches:
  only:
  - master
before_install:
- openssl aes-256-cbc -K $encrypted_660c8f2d3dd2_key -iv $encrypted_660c8f2d3dd2_iv
  -in deploy_id_rsa.pem.enc -out ./deploy_id_rsa.pem -d
